<div class="container" style="margin-top: 20px;">
    <h2>
        Employee Details
    </h2>
    <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Language</th>
                <th>View</th>
                <th>Remove</th>

            </tr>
            <tr *ngFor="let u of user">
                <td>{{u.gender==='female'? 'Miss  ':'Mr  '}}{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.mobile}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.topic}}</td>
                <td><a class="nav-link active" aria-current="page" routerLinkActive="active"
                    [routerLink]="['/dispaly',u.id]"><mat-icon>visibility</mat-icon></a></td> 
                <td><button type="submit" class="btn btn-primary" (click)="remove(u.name)"></button>Remove</td><hr>
                <!-- <td><button type="submit" class="btn btn-primary" ></button>Edit</td> -->
            </tr>
    </table>
    <a [routerLink]="['/user']" class="btn btn-primary">Add New</a>
</div>
